body {
    width: 80em;
    margin: 0 auto;
}

nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

nav section {
    display: table-row;
}

nav section h1, nav section h2, nav section h3 {
    display: table-cell;
}

nav section h1 {
    font-size: xx-large;
    font-variant: small-caps;
}

nav section h2 {
    font-size: x-large;
}

nav section h3 {
    border-top: 3px double #000;
    border-bottom: 3px double #000;
    font-size: medium;
    font-variant: small-caps;
}

main {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

main .column {
    display: table-cell;
}

main .left {width: 40%}
main .right {width: 60%}

main section {
    margin: .5em;
    box-shadow: 1px 1px 0px 0px #FFFFFF, 2px 2px 0px 0px #000000;
    border: 1px solid #000;
}

main section h1 {
    margin: unset;
    border-bottom: 1px solid #000;
    padding: .25em .5em;
    font-size: medium;
}

main section article {
    margin: .5em;
}

.align-l {text-align: left}
.align-c {text-align: center}
.align-r {text-align: right}