body {
    width: 60em;
    margin: 0px auto;
    background: #FFF;
    color: #000;
    font-size: large;
    line-height: 1.6;
}

header {
    border-bottom: 3px double #000;
    background: #DDD;
}
header h1 {
    margin: unset;
    padding: .1em .5em;
    text-shadow: 1px 1px 0px #555, -1px -1px 0px #FFF;
}

nav {
    display: table;
    border-collapse: collapse;
}
nav a {
    display: table-cell;
    padding: .1em .5em;
    text-decoration: unset;
}
nav a, nav a:visited, nav a:hover, nav a:active {
    color: #000;
}
nav a:hover {
    background: #CCC;
}
nav a:active {
    background: #AAA;
}

p {
    text-indent: 2em;
}

a, a:visited {
    color: #00F;
}
a:hover {
    color: #A0A;
}
a:active {
    color: #F00;
}

ul {
    list-style: none;
}
ul li::before {
    content: "- ";
}

#ffff9f Pale Lemon Yellow
#2d4436 Lincoln Green
Vinaceous Cinnamon